/* Estilos globais */
body {
    background-color: #404040;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para o cabeçalho */
  header {
    background-color: #446659;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para o banner */
  .banner img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para a seção principal */
  section {
    padding: 20px;
    color: #fff;
    margin-top: 150px; /* para evitar que o conteúdo fique oculto sob o header fixo */
    text-align: center;
  }
  
  section h2 {
    font-size: 24px;
  }

  section h1 {
    font-size: 44px;
  }
  
  section p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
  }

  
  /* Estilos para o rodapé */
  footer {
    background-color: #446659;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  